<a href="https://colab.research.google.com/github/franciscofijamo/0-to-DS/blob/master/FTC_cicle_04_30_DE(Exercices_Data_Manipulation).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

In [1]:
# Criando dicion√°rios
dicionario_vazio = {}
usuarios = {
"nome" : "Meigarom",
"idade" : [34, 18, 19, 30, 30, 36, 25, 36],
"cidade" : ["Indaiatuba", "Arcos", "Ouro Fino", "Itapira", "Curitiba"]}

In [2]:
usuarios['cidade']

['Indaiatuba', 'Arcos', 'Ouro Fino', 'Itapira', 'Curitiba']

# Dataframes

In [5]:
import pandas as pd

In [4]:
#data = pd.read_csv("/content/train.csv")

FileNotFoundError: ignored

In [ ]:
#data.head(11)

In [ ]:
# 1. Qual o valor da informa√ß√£o armazenada na linha 30 e na coluna 10?
#data.iloc[30,11]

In [ ]:
#2. Selecione as linhas 0 a 20 e as colunas 0 a 2

#data.iloc[:21, 0:2]

In [ ]:
# 3. Seleciona as linhas 5 a 30 e a coluna ‚ÄúDelivery_person_Age‚Äù

#data.loc[5:31,"Delivery_person_Age"]

In [ ]:
#  Selecione as linhas 40 a 42 e as seguintes colunas: ‚ÄúRestaurant_latitude‚Äù,
#‚ÄúRestaurant_longitude‚Äù, "Delivery_location_latitude‚Äù,
#‚ÄúDelivery_location_longitude‚Äù


#data.loc[40:43,["Restaurant_longitude","Delivery_location_latitude","Delivery_location_longitude"]]

In [ ]:
#  Qual a menor data de entrega da coluna ‚ÄúOrder_Date‚Äù entre as linhas 0 a 50?

min(data.loc[:51, "Order_Date"])

In [ ]:
#Qual a menor data de entrega da coluna ‚Äú Time_Orderd ‚Äù entre as linhas 0 a 50?

min(data.loc[:51, "Time_Orderd"])

In [ ]:
# 7. Quais os nomes √∫nicos da coluna ‚ÄúCity‚Äù entre as linhas 50 e 70?

data.City[50:71].value_counts()

In [ ]:
#Quais os nomes √∫nicos da coluna ‚ÄúWeatherconditions‚Äù entre as linhas 0 e 10?
data["Weatherconditions"][:11].value_counts()

In [ ]:
# Quais os tipos de densidade de tr√¢nsito presente na coluna ‚ÄúRoad_traffic_density ‚Äù entre as linhas 0 a 20?
data["Road_traffic_density"][:21].value_counts()

In [ ]:
#10. Qual o ID do entregador de comida mais velho entre as colunas 50 e 70?

data[['Delivery_person_ID', "Delivery_person_Age" ]][50:71]
#aux.sort_values("Delivery_person_Age", ascending=False)

In [ ]:
data[['Delivery_person_ID', "Delivery_person_Age" ]][50:71].sort_values("Delivery_person_Age", ascending=False).iloc[0,0]

In [ ]:
# 11. Qual o ID do entregador de comida com a melhor avalia√ß√£o de entrega entre as linhas 50 e 70?
data[["Delivery_person_ID", "Delivery_person_Ratings"]][50:71].sort_values("Delivery_person_Ratings", ascending = False).iloc[0,0]

In [ ]:
data.columns

# Data amanipulation

In [1]:
import pandas as pd

In [42]:
df = pd.read_csv("train.csv")
df1 = df.copy()

In [7]:
display(df1)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36

### Converting Data

In [43]:
# convering Delivery_person_Age
line_nan = (df1['Delivery_person_Age'] != 'NaN ') 
df1 = df1.loc[line_nan, :].copy()

df1['Delivery_person_Age'] = df1['Delivery_person_Age'].astype(int)

In [44]:
# convering Delivery_person_Ratings
df1['Delivery_person_Ratings'] = df1['Delivery_person_Ratings'].astype( float )

In [45]:
# converting Order_Date 
df1['Order_Date'] = pd.to_datetime(df1['Order_Date'], format = '%d-%m-%Y')

In [46]:
# convertig multiple_deliveries
aux = (df1['multiple_deliveries']!= 'NaN ')
df1 = df1.loc[aux, :].copy()

df1['multiple_deliveries'] = df1['multiple_deliveries'].astype( int )

In [24]:
df1.dtypes

ID                                     object
Delivery_person_ID                     object
Delivery_person_Age                     int64
Delivery_person_Ratings               float64
Restaurant_latitude                   float64
Restaurant_longitude                  float64
Delivery_location_latitude            float64
Delivery_location_longitude           float64
Order_Date                     datetime64[ns]
Time_Orderd                            object
Time_Order_picked                      object
Weatherconditions                      object
Road_traffic_density                   object
Vehicle_condition                       int64
Type_of_order                          object
Type_of_vehicle                        object
multiple_deliveries                     int64
Festival                               object
City                                   object
Time_taken(min)                        object
dtype: object

In [26]:
df1.iloc[0,:]

ID                                         0x4607
Delivery_person_ID                 INDORES13DEL02
Delivery_person_Age                             37
Delivery_person_Ratings                        4.9
Restaurant_latitude                      22.745049
Restaurant_longitude                     75.892471
Delivery_location_latitude               22.765049
Delivery_location_longitude              75.912471
Order_Date                     2022-03-19 00:00:00
Time_Orderd                               11:30:00
Time_Order_picked                         11:45:00
Weatherconditions                 conditions Sunny
Road_traffic_density                         High
Vehicle_condition                                2
Type_of_order                               Snack
Type_of_vehicle                        motorcycle
multiple_deliveries                              0
Festival                                       No
City                                        Urban
Time_taken(min)                           (min) 24
Name: 0, dtype: object

In [48]:
# removing spaces in strings or objects
df1 = df1.reset_index(drop = True)
for i in range(len(df1)):
   df1.loc[i,'ID'] = df1.loc[i, 'ID'].strip()

In [41]:
type(df1)

method

# Rsolving Exercices

In [3]:
import re
from google.colab import drive

drive.mount('/content/drive')
df_raw = pd.read_csv('/content/drive/MyDrive/FTC/train.csv')

df_raw.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30